{
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "experimentalTernaries": true,
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 95
}